@charset "utf-8";

/* 전체 중앙정렬 */
body {
    background-color: #f7f7f7;
}

.all_wrap {
    margin: 0 auto;
    width: calc(100% - 20px);
    margin-top: 20px;
}

.all_center_wrap {
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    background-color: #f8fbf8;
    box-shadow: 0px 0px 7px #02010a67;
}

/* 추첨기제목 */
.big_title {
    /* box-shadow: 0px 0px 4px #1d1481;  */
    background: rgb(126, 186, 170);
    background: linear-gradient(90deg, rgb(85, 168, 146) 0%, rgba(59, 164, 137, 1) 44%, rgb(108, 186, 166) 100%);
    box-shadow: 0px 0px 7px #02010a67;
    padding: 15px;
    font-weight: 600;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
}


/* 추첨기 그룹 */
/* 추첨기 그룹 */
/* 추첨기 그룹 */
/* .group_wrap{
    background-color: #28a745;
}
 */
.group_wrap:first-child {
    margin-top: 10px;
}

.group_wrap {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

/* 그룹 숫자 */
.group {
    display: inline-block;
}

.group_inner_gap_wrap {
    width: calc(100% - 20px);
    margin: 0 auto;
    margin-top: 10px;
}

/* 그룹이름 */
.group_title {
    font-size: 1.4rem;
    /* margin-top: 20px; */
    color: #999;
    font-weight: 600;
    margin-right: 6px;
    display: inline-block;
}

/* 한 줄씩 새로만들기 버튼 */

.regenerate {
    margin-top: 10px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    padding: 6px 7px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #6AAB9A;
    color: #fff;
    font-size: 1.1rem;
    transition: background-color 0.3s ease-in-out;
}


/* 터치했을때 효과 */
.regenerate:hover {
    background-color: #3d7062;
}

.regenerate:active {
    background-color: #6AAB9A;
}


/* X버튼 */
.disable_x {
    float: right;
    margin-top: 10px;
    display: inline-block;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    /* width: 12px; */
    padding: 4px 7px;
    /* height: 10px; */
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    background-color: #b6b6b6;
    color: #fff;
    box-shadow: 0px 0px 3px #02010a6b;
    transition: background-color 0.3s ease-in-out;
}

.disable_x:hover {
    background-color: #333;
}

/* 게임번호 한 줄 */
/* 게임번호 한 줄 */
/* 게임번호 한 줄 */

.group_wrap ul li {
    display: inline-block;
    margin-right: 5px;
    box-shadow: 0px 0px 3px #02010a18;
    font-size: 1.4rem;
    /* padding: 8px 9px; */
    width: 30px;
    height: 25px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #fff;
    font-weight: 600;
    color: #666;
    line-height: 25px;

}

.group_one_line {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

/* 한 줄 카피버튼 */
.copy {
    float: right;
    margin-top: 6px;
    display: inline-block;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    padding: 7px 15px;
    font-size: 1.6rem;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #666;
    color: #fff;
    box-shadow: 0px 0px 3px #02010a6b;
    transition: background-color 0.3s ease-in-out;
}


.copy:hover {
    background-color: #222;
}

.copy:active {
    background-color: #666;
}









/* 전체다시 뽑기/복사 wrap */
/* 전체다시 뽑기/복사 wrap */
/* 전체다시 뽑기/복사 wrap */
.bottom_btn_wrap {
    justify-content: space-between;
    margin: 0 auto;
    margin: 30px 0 20px 0;
    width: 100%;
    display: flex;
    align-content: space-between;
}

.regenerate-all button {
    display: inline-block;
}

.regenerate-all {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 100%;
    font-size: 1.7rem;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #6AAB9A;
    color: #fff;
    margin-right: 10px;
    box-shadow: 0px 0px 3px #02010a6b;
    transition: background-color 0.3s ease-in-out;
}


.regenerate-all:hover {
    background-color: #3d7062;

}

.regenerate-all:active {
    background-color: #6AAB9A;
}


.copy-all {
    border-radius: 9px;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 20%;
    font-size: 2.4rem;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #444;
    color: #fff;
    box-shadow: 0px 0px 3px #02010a6b;
    transition: background-color 0.3s ease-in-out;
}

.copy-all:hover {
    background-color: #000;
}

.copy-all:active {
    background-color: #444;
}



/* footer */
footer {
    margin: 0 auto;
    width: calc(100% - 20px);
    margin-top: 20px;
    padding-bottom: 50px;
}

.footer_text {
    font-weight: 400;
    text-align: center;
    font-size: 1.1rem;
    color: #777;
}

.footer_link {
    font-size: 1.1rem;
    color: #333;
    font-weight: 600;
    text-align: center;
    color: #333;
    width: 166px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #666;
    color: #fff;
    box-shadow: 0px 0px 3px #02010a6b;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 10px;
}

.footer_link:hover {
    background-color: #333;
}


.footer_text.ver {
    font-size: 1rem;
    margin-top: 7px;
    color: #bebebe;

}

.footer_text.ver span {
    color: #bebebe;
    font-size: 1rem;
    margin-left: 5px;

}

.footer_text.ver_etc {
    font-size: .5rem;
    margin-top: 7px;
    color: #f7f7f7;
    /* color: #333; */
}



/* 팝업 */
/* 팝업 */
/* 팝업 */

/* 뒷배경 */
.popup_modal {
    z-index: 500;
    width: 100%;
    display: none;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);

}

.popup_modal .size_change {
    animation: opa;
    /* transition: 0.5s; */
}

@keyframes opa {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* how to play모달 */
.popup_modalBox {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 65%;
    border-radius: 10px 10px 10px 10px;
    z-index: 3000;
    text-align: left;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 53%);
    background-color: #fff;

}



.how_to_text_wrap {
    display: none;
}

#how_to_text_1 {
    display: block;
}

.popup_modalBox_inner {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-bottom: 60px;
}








/* 닫기 버튼 옮기기 */
/* 0307 팝업수정 */
.popup_modal .close_about {
    position: absolute;
    width: 32px;
    height: 32px;
    line-height: 20px;
    right: -10px;
    top: -13px;
    background: transparent;
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    z-index: 20000;
    font-weight: 900;
    background: #393939;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    box-shadow: rgb(0 0 0 / 22%) 0px 0px 2px 0px;
    border-radius: 50%;
}

/* 다음버튼으로 */
.popup_modal .next_about {
    position: absolute;
    border-radius: 10px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    background: transparent;
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    z-index: 20000;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    font-weight: 500;
    background-color: #6AAB9A;
    transition: background-color 0.3s ease-in-out;
}


.next_about:hover {
    background-color: #3d7062;
}
.next_about:active {
    background-color: #6AAB9A;
}






/* --------------- 팝업 --------------- */
/* --------------- 팝업 --------------- */
/* --------------- 팝업 --------------- */
.content {
    width: 100%;
    /* height: 100%; */
    /* background-color: #999; */
    display: inline-block;
    margin-top: 25px;
}

.content .fancy_popup_text h1 {
    font-weight: 900;
    font-size: 2rem;
    color: #333;
    /* text-shadow: 0px 0px 3px #333; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.content .fancy_popup_text p {
    font-size: 1.5rem;
    color: #555;
    text-align: center;
    line-height: 28px;
    white-space: pre;
    margin-bottom: 10px;
}


/* 팝업안에 이미지 넣을 시 */
/* .content .medal img {
    display: block;
    margin: auto;
    max-width: 180px;
    filter: drop-shadow(0 0 4px rgba(251, 255, 0, 0.61));
} */
/* animation: animate 1s ease-in-out-in-out; */

/* @keyframes animate {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
} */